#!/usr/bin/env sh

export SERVER_SUBDOMAIN=valheim
export DOMAIN=example.tld

export HCLOUD_VOLUME_ID=12345
export SERVER_FULL_DOMAIN=$SERVER_SUBDOMAIN.$DOMAIN

export INFLUXDB_URL="https://influxdb.example.tld"
export INFLUXDB_TOKEN=foobar
export INFLUXDB_ORGANIZATION="example.tld"
export INFLUXDB_BUCKET="foobar"

export VALHEIM_SERVER_NAME="foobar"
export VALHEIM_SERVER_WORLD="foobar"
export VALHEIM_SERVER_PASSWORD="foobar"

export DISCORD_MAIN_CHANNEL_WEBHOOK="https://discord.com/api/webhooks/foo/bar"

# terraform vars
export TF_VAR_zone_name=$DOMAIN
export TF_VAR_server_subdomain=$SERVER_SUBDOMAIN
export TF_VAR_ssh_key_fingerprint="01:02:03:04:05:06:07:08:09:0a:0b:0c:0d:0e:0f:10"
export TF_VAR_hcloud_volume_name="home"
export TF_VAR_hcloud_token="foobar"
export TF_VAR_cloudflare_email="hostmaster@example.tld"
export TF_VAR_cloudflare_api_key="foobar"

# vim: ft=sh
