TERRAFORM_CLOUD_TOKEN=foobar
TF_VAR_cloud_organization=example-tld
TF_VAR_cloud_workspace=valheim-dedicated-server
DISCORD_MAIN_CHANNEL_WEBHOOK=https://discord.com/api/webhooks/12345/foobar
INFLUXDB_URL=https://influxdb.example.tld
INFLUXDB_TOKEN=foobar
INFLUXDB_ORGANIZATION=example.tld
INFLUXDB_BUCKET=telegraf
VALHEIM_SERVER_NAME=valheim
VALHEIM_SERVER_WORLD=world
VALHEIM_SERVER_PASSWORD=foobar
