TF_VAR_zone_name=example.tld
TF_VAR_hcloud_token=foobar
TF_VAR_cloudflare_email="example@example.tld"
TF_VAR_cloudflare_api_key=foobar

AWS_S3_ENDPOINT="https://s3.example.tld"
AWS_REGION="eu-central-1"
AWS_ACCESS_KEY_ID=foobar
AWS_SECRET_ACCESS_KEY=foobar

TERRAFORM_BACKEND_BUCKET=terraform-game-server

# Valheim

TF_VAR_restic_valheim_repo="s3:https://s3.example.tld/restic-valheim"
TF_VAR_restic_valheim_password=foobar
TF_VAR_restic_valheim_aws_access_key_id=foobar
TF_VAR_restic_valheim_aws_secret_access_key=foobar

TF_VAR_valheim_server_subdomain=valheim
TF_VAR_valheim_server_name=valheim
TF_VAR_valheim_server_world=valheim
TF_VAR_valheim_server_password=valheim
TF_VAR_valheim_discord_channel_webhook="https://discord.com/api/webhooks/foo/bar"

# Factorio

TF_VAR_restic_factorio_repo="s3:https://s3.example.tld/restic-factorio"
TF_VAR_restic_factorio_password=foobar
TF_VAR_restic_factorio_aws_access_key_id=foobar
TF_VAR_restic_factorio_aws_secret_access_key=foobar

TF_VAR_factorio_server_subdomain=factorio
TF_VAR_factorio_save_name=factorio
TF_VAR_factorio_discord_channel_webhook="https://discord.com/api/webhooks/foo/bar"
