TF_VAR_zone_name=example.tld
TF_VAR_hcloud_token=foobar
TF_VAR_cloudflare_email="example@example.tld"
TF_VAR_cloudflare_api_key=foobar

TF_VAR_wireguard_restic_peer_public_key="foobar"
TF_VAR_wireguard_restic_peer_addresses="1.2.3.4/32"
TF_VAR_wireguard_restic_peer_endpoint="wireguard.example.tld:51821"
TF_VAR_s3_hostname="s3.example.tld"
TF_VAR_s3_ip="1.2.3.4"

TF_VAR_valheim_restic_repo="s3:https://s3.example.tld/restic-valheim"
TF_VAR_valheim_restic_password=foobar
TF_VAR_valheim_restic_aws_access_key_id=foobar
TF_VAR_valheim_restic_aws_secret_access_key=foobar

TF_VAR_valheim_wireguard_address="1.2.3.5/32"
TF_VAR_valheim_wireguard_private_key=foobar
TF_VAR_valheim_wireguard_restic_peer_psk=foobar

TF_VAR_valheim_hcloud_volume_name="valheim-data"
TF_VAR_valheim_server_subdomain=valheim
TF_VAR_valheim_server_name=valheim
TF_VAR_valheim_server_world=valheim
TF_VAR_valheim_server_password=valheim
TF_VAR_valheim_discord_channel_webhook="https://discord.com/api/webhooks/foo/bar"

TF_VAR_zomboid_restic_repo="s3:https://s3.example.tld/restic-zomboid"
TF_VAR_zomboid_restic_password=foobar
TF_VAR_zomboid_restic_aws_access_key_id=foobar
TF_VAR_zomboid_restic_aws_secret_access_key=foobar

TF_VAR_zomboid_wireguard_address="1.2.3.6/32"
TF_VAR_zomboid_wireguard_private_key=foobar
TF_VAR_zomboid_wireguard_restic_peer_psk=foobar

TF_VAR_zomboid_hcloud_volume_name="zomboid-data"
TF_VAR_zomboid_server_subdomain=zomboid
TF_VAR_zomboid_servername=zomboid
TF_VAR_zomboid_adminpassword=zomboid
TF_VAR_zomboid_discord_channel_webhook="https://discord.com/api/webhooks/foo/bar"

AWS_S3_ENDPOINT="https://s3.example.tld"
AWS_REGION="eu-central-1"
AWS_ACCESS_KEY_ID=foobar
AWS_SECRET_ACCESS_KEY=foobar

TERRAFORM_BACKEND_BUCKET=terraform
