[Unit]
Description=Valheim service
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
KillSignal=SIGINT
User=valheim
Group=valheim
ExecStart=/usr/local/bin/start-valheim-server.sh

[Install]
WantedBy=multi-user.target

# vim: ft=systemd.jinja2
